# --- Project Anchor: Environment Configuration ---

# Environment: production | development
ENV=production

# Inference Settings
MODEL_PATH=models/model.pkl
EXPLAINER_PATH=models/explainer.pkl

# Data & Root Paths 
PROJECT_ROOT=/app

# MLFlow Tracking (Optional for production)
MLFLOW_TRACKING_URI=http://localhost:5050

